
<h2>Registered</h2>

<div class="alert alert-primary" role="alert">
    Thank you for registering, click 
    <a asp-controller="Movie"
       asp-action="Index"
       class="alert-link">here</a> to see our movies
</div>

